<div class="container-fluid">
	<div class="col-md-8">
		<h3>{{ tool.name }}</h3>
		<button>Abonnieren</button>
		
		<p>{{ tool.description }}</p>
		<img ng-repeat="img in tool.imgs" src="{{ img }}" height="128px" style="margin-left: 10px" />
	
	
		<h4>Weiteres Zubehör</h4>
		
		<h4>Kontakt</h4>
	
		
		<form class="row">
			<input type="text" ng-model="name" placeholder="Dein Name" class="row" style="width: 100%;"/>
			<input type="text" ng-model="email" placeholder="Deine Email" class="row" style="width: 100%;"/>
			<textarea ng-model="message" class="row" placeholder="Nachricht" style="width: 100%;"></textarea>
			<input type="submit" />
		</form>
	</div>
	<div class="col-md-2">	
		<h3>{{ sharer.firstname }} {{ sharer.lastname }}</h3>
		<p>{{ sharer.street }}</p>
		<p>{{ sharer.zip }} {{ sharer.city }}</p>
		
		<h4>Kontakt</h4>
		<p>Email: {{ sharer.email }}</p>
		<p>Telefon: {{ sharer.tel }}</p>
	</div>
</div>